<div fxLayout="column">

  <!-- <mat-slider style="width: 100%" value="2" max="10" min="0" thumbLabel="true" tickInterval="1">
  </mat-slider>
  <app-show-gmap [lat]="locationFromNavigator.lat" [lng]="locationFromNavigator.lng"></app-show-gmap> -->

  <mat-card>

    <h3 class="greyTitle">Order Type</h3>
    <mat-list>
      <mat-list-item>Ready2Eat</mat-list-item>
      <mat-list-item>Pre-Order</mat-list-item>
    </mat-list>

    <h3 class="greyTitle">Select Food Type</h3>
    <!-- <mat-slide-toggle fxFlex="0 1 48" matInput>Veg / Non-Veg</mat-slide-toggle> -->
    <mat-selection-list>
      <mat-list-option>Vegeterian</mat-list-option>
      <mat-list-option>Non-Vegeterian</mat-list-option>
    </mat-selection-list>
  <mat-divider></mat-divider>

    <mat-divider></mat-divider>

    <h3 class="greyTitle">Browse by Category</h3>

    <mat-selection-list fxLayout="row wrap">
      <mat-list-option *ngFor="let cuisine of cuisines">{{cuisine}}</mat-list-option>
    </mat-selection-list>
    <!-- <mat-grid-list cols="3" gutterSize="1px"> -->
      <!-- <mat-grid-tile *ngFor="let cuisine of cuisines" class="cat" #checked (click)="(checked == true)"> -->
        <!-- <img src="assets/{{cuisine}}.jpg" />
        <div class="overlay"></div> -->
        <!-- <span>{{cuisine}}</span>
        <mat-grid-tile-header *ngIf="checked == true" style="background-color: turquoise">
          <mat-checkbox></mat-checkbox>
        </mat-grid-tile-header>
      </mat-grid-tile>
    </mat-grid-list> -->
  </mat-card>

  <!-- <mat-card *ngFor="let loc of geoLocations$|async">
    <mat-card-title>{{loc.userLocation}}</mat-card-title>
    <mat-card-subtitle>{{loc.userLocation.latitude}}</mat-card-subtitle>

  </mat-card> -->


</div>
<!-- <div>
  <mat-card>
    <mat-card-title>Search near by</mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>Search by category</mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>Search by cusine</mat-card-title>
  </mat-card>

  <app-fab-action fabIcon="done" (click)="applySearch()"></app-fab-action>
</div> -->



