<div [formGroup]="filterForm" *ngIf="fooditem">

  <mat-card fxLayout="column">
    <div fxLayout="row wrap">
      <mat-slide-toggle color="primary" formControlName="isNonVeg">
        Non-Veg Only
      </mat-slide-toggle>
      <span class="spacer"></span>
      <mat-slide-toggle formControlName="orderType">
        Ready2Eat
      </mat-slide-toggle>
    </div>
    <br>

    <div fxLayout="row wrap">
      <span class="align-with-icon mat-h2">Browse by Cuisine</span>
      <span class="spacer"></span>
      <mat-icon>clear</mat-icon>
    </div>

    <mat-list role="list">
      <mat-radio-group formControlName="cuisine">
        <mat-list-item role="listitem" *ngFor="let cuisine of cuisines; let i = index">
          <mat-radio-button #radio [value]="cuisine" (change)="selection = $event.value">
            {{cuisine}}
          </mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>

    <div fxLayout="row wrap">
      <span class="align-with-icon mat-h2">Browse by Category</span>
      <span class="spacer"></span>
      <mat-icon>clear</mat-icon>
    </div>

    <mat-list role="list">
      <mat-radio-group formControlName="category">
        <mat-list-item role="listitem" *ngFor="let category of categories; let i = index">
          <mat-radio-button #radio [value]="category" (change)="selection = $event.value">
            {{category}}
          </mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>

  </mat-card>
  <app-fab-action fabIcon="done" (click)="applySearch(filterForm.value)"></app-fab-action>
</div>