<div>
  <!-- <mat-slider style="width: 100%" value="2" max="10" min="0" thumbLabel="true" tickInterval="1">
  </mat-slider>
  <app-show-gmap [lat]="locationFromNavigator.lat" [lng]="locationFromNavigator.lng"></app-show-gmap> -->
 
  <mat-card>
    
    <mat-selection-list #orderType selectedOption.multiple="false">
      <mat-list-option value="abc">Ready2Eat</mat-list-option>
      <mat-list-option value="xyz">Pre-Order</mat-list-option>
    </mat-selection-list>

    
    <h3 class="greyTitle">Select Food Type</h3>
    <!-- <mat-slide-toggle fxFlex="0 1 48" matInput>Veg / Non-Veg</mat-slide-toggle> -->
    <mat-selection-list>
      <mat-list-option>Vegeterian</mat-list-option>
      <mat-list-option>Non-Vegeterian</mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>

    <mat-divider></mat-divider>

    <h3 class="greyTitle">Browse by Category</h3>

    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let cuisine of cuisines; let i = index">
        <mat-radio-button #radio [value]="i" (change)="selection = $event.value">
          {{cuisine}}
        </mat-radio-button>
      </mat-list-item>
    </mat-list>

  </mat-card>
  <app-fab-action fabIcon="done" (click)="applySearch()"></app-fab-action>
</div>


