<div>
  <mat-tab-group>
    
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>call_made</mat-icon>
        <span>Orders Placed</span>
      </ng-template>

      <app-orderl-list [orderList$]="checkedoutOrders$" [orderType]="'placed'"></app-orderl-list>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">call_received</mat-icon>
        <span>Orders Received</span>
      </ng-template>

      <app-orderl-list [orderList$]="receivedOrders$" [orderType]="'received'"></app-orderl-list>
    </mat-tab>
    
  </mat-tab-group>
</div>