<mat-card *ngIf="fooditem as fi" style="margin-top: 2px">
    <div *ngIf="fooditem.images[0].url as previewURL">
      <img mat-card-image [src]="previewURL" class="card-image">
    </div>
        <div fxLayout="rwo wrap" fxLayoutAlign="space-between">
          <span class="mat-h3" [style.color]="fi.isNonVeg? 'red':'green'">{{fi.title}}</span>
          <span class="mat-h3">[CAD-{{fi.price}}]</span>
        </div>
  <mat-card-content>
    <span class="mat-h3">[ {{fi.category}} ] . [ {{fi.cuisine}} ]</span>
    <br>
    <span class="mat-h3">Availability: [ {{ fi.availability }} ]</span>
  </mat-card-content>

  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <div>
      <mat-icon>room_service</mat-icon> 
      {{fi.serving}} persons
    </div>
    <div>
      <mat-icon>schedule</mat-icon> 
      {{fi.orderTime}} {{fi.orderType == 'instant'? 'minutes':'hours'}}
    </div>
    <div>
      <mat-icon>place</mat-icon> 
      1.0 km
    </div>
  </div>
</mat-card>