<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch">
    <div fxFlex="0 1 98" *ngIf="orders$|async as orders">

        <ng-template #emptyCart>
            <mat-card>
                <mat-card-title> Your Cart is empty. Go Shopping :)</mat-card-title>
            </mat-card>
        </ng-template>

        <div *ngIf="orders.length != 0; else emptyCart">
            <mat-card *ngFor="let order of orders" mat-elevation="4">
                <span>{{order.name}}</span>

                <app-cart-list 
                    [cartID]="cartID" 
                    [orderID]="order.id" 
                    (orderUpdate)="updateOrder($event)">
                </app-cart-list>
                
                    <mat-card-actions align="end" class="m15lr">
                        <button  mat-raised-button
                            color="primary" 
                            (click)="onClickCheckout(order.id, order.name)">
                            Place Order
                        </button>
                    </mat-card-actions>

                <mat-divider></mat-divider>
            </mat-card>
        </div>

    </div>

    <app-fab-action [fabIcon]="'add'" (fabActionEvent)="fabAction($event)">
    </app-fab-action>

</div>