/* You can add global styles to this file, and also import other style files */

$white:#FFF;
$grey:#777;
$green:#00b279;
$orange:#f75d34;

* {
  font-weight: normal;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

// .mat-card {
//     margin-top: 8px;
//   }

app-fab-action {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab{ font-size:16px !important;}
.spacer {
  flex: 1 1 auto;
}

.headerTop{ background:$white;}
.mat-drawer-container{background: #e9ebee;}
.pageContainer{ margin-top: 60px;}
.productBox{border: 1px solid #dddfe2;border-radius:3px !important;-webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;box-shadow: none !important;margin-bottom:20px;padding-bottom: 0px !important;}
.productBox .productName{ margin-top: 6px; font-weight: bold; font-size: 18px;}
.productBox .mat-card-content h4{  margin-top: 0px;margin-bottom: 5px;font-size: 16px;}
.productBox .mat-card-content h4:last-child{margin-bottom: 5px;}
.productBox>:last-child:not(.mat-card-footer){border-top: 1px solid #e5e5e5;}    
.productImg .mat-card-image{ max-height: 200px; overflow: hidden;}
.price{position: absolute;top: 0px;left: -8px; padding: 6px 12px;
    background: rgba(0,0,0,0.85); color: $white;font-weight:bold;
    border-color: rgb(30, 32, 35) transparent;
}
.price:before {
      position: absolute;
      bottom: -9px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: inherit;
      left: 0;
      border-width: 9px 0 0 9px;
  }    

button i{ display: inline-block; vertical-align: middle;}
.user-card{ text-align: center;}
.sidenav{width:300px !important;}
.user-card{background: $orange !important; color:$white !important;padding: 15px 24px !important;}
.nav-list .mat-icon{color:$grey; margin-right: 10px; font-size:28px !important;height: 28px !important; width: 28px !important;}
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px !important;
}
.bigIcon{ font-size: 50px;height: 50px !important; width: 50px !important;margin-top: 10px;}
.pullLeft{ float: left; margin-left: 10px;}
.greyTitle{ background: #EEE; padding: 10px; margin-top: 30px;}
.m15lr{ margin-left: 15px !important; margin-right: 15px !important;}
.p15lr{ margin-left: 15px !important; margin-right: 15px !important;}
.m0tb{ margin-top: 0; margin-bottom: 0;}
.mat-slide-toggle-content{ font-size: 18px !important;}
.cat{font-size: 18px !important; position: relative;}
.cat img{ position: absolute;}
.cat .overlay{position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2);}
.cat span{ position: relative; z-index: 999; background:#FFF !important; padding: 6px 15px;}