<div *ngIf="orderList$|async as orders">
<div *ngIf="orders.length != 0; else emptyCheckout">
  <mat-card *ngFor="let order of orders; let i = index" style="padding-top:14px">
    <h3 *ngIf="buyerView" style="margin-bottom: 0px">{{i+1}}. {{order.seller.name}}</h3>

    <h3 *ngIf="sellerView" style="margin-bottom: 0px">{{i+1}}. {{order.buyer.name}}</h3>

    <mat-list>
      <mat-list-item *ngFor="let item of order.items">
        <img matListAvatar [src]="item.url" alt="...">
        <h4 mat-line>{{item.title}}</h4>
        <p mat-line> {{item.qty}} items x SGD {{item.price}} = SGD {{item.price * item.qty}}</p>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <h3 class="greyTitle">Order Status</h3>
        <h3>Your order is sent. Waiting for them to confirm that they can deliver.</h3>
    <mat-card fxLayout="row" align="right">
        
      <div *ngIf="order.currState">        
        <h3 class="m0tb">
          <span>{{order.currState.state}}</span>
          <span *ngIf="order.currState.reason">: [{{CancellationReasons[order.currState.reason]}}]</span>
        </h3>
        <p *ngIf="order.currState.additionalComments">{{order.currState.additionalComments}}</p>
      </div>

      <span class="spacer"></span>

      <div *ngIf="order.currState.state=='Awaiting_Confirmation'">
        <button mat-icon-button (click)="sellerView?rejectOrder(order.id):cancelOrder(order.id)">
          <mat-icon color="warn">clear</mat-icon> 
        </button>
        <button mat-icon-button *ngIf="sellerView" (click)="confirmOrder(order.id)">
          <mat-icon color="primary">done</mat-icon>
        </button>
      </div>

      <button *ngIf="order.currState.state=='Confirmed'" mat-icon-button (click)="enableChat(order.id)">
        <mat-icon color="accent">chat_bubble_outline</mat-icon>
      </button>

    </mat-card>

  </mat-card>
  <!-- <mat-divider></mat-divider> -->
</div>

<ng-template #emptyCheckout>
  <mat-card>
    <mat-card-title> You have nothing to checkout...</mat-card-title>
  </mat-card>
</ng-template>

</div>