<div *ngIf="order$|async as order">
  <mat-card mat-elevation="4">
    
    <mat-card-content>
      <app-cart-list [cartID]="cartID" [orderID]="order.id" (orderUpdate)="updateOrder($event)">
      </app-cart-list>
    </mat-card-content>

    <mat-divider></mat-divider>

    <h3 class="greyTitle">Payment Option</h3>
    <div *ngIf="order.paymentOption=='online'">
      <p>Payment option is {{order.paymentOption}}</p>
    </div>
    <div *ngIf="order.paymentOption=='cashOnDelivery'">
      <p>Payment option is {{order.paymentOption}}</p>
    </div>
    <mat-divider></mat-divider>

    <h3 class="greyTitle">Delivery Option</h3>
    <div *ngIf="order.deliveryOption=='takeAway'">
      <p>Delivery option is {{order.deliveryOption}}</p>
    </div>
    <div *ngIf="order.deliveryOption=='homeDelivery'">
      <p>Delivery option is {{order.deliveryOption}}</p>
      <!-- <app-user-address [userGeo]="me.geoInfo" (geoInfo)="geoInfoFromUser($event)"></app-user-address> -->
    </div>
    <div *ngIf="order.deliveryOption=='dinein'">
      <p>Delivery option is {{order.deliveryOption}}</p>
    </div>
    <mat-divider></mat-divider>
    <h3 class="greyTitle">Order Summary</h3>
    <p>Served by: {{order.name}}</p>
    <p>Amount Payable: SGD {{order.amtPayable}}</p>
    <p>Discount: SGD {{order.discount}}</p>
    
    
    <p>{{order|json}}</p>

    <mat-card-actions align="end" class="m15lr">
        <button  mat-raised-button color="primary" (click)="onClickCheckout(order)">
        Order Now
      </button>
    </mat-card-actions>

    <mat-divider></mat-divider>
  </mat-card>
</div>