<div *ngIf="order$|async as order" fxLayout="column">
  <mat-card mat-elevation="4">
    <span>{{order.name}}</span>
    <mat-card-content>
      <app-cart-list [cartID]="cartID" [orderID]="order.id" (orderUpdate)="updateOrder($event)">
      </app-cart-list>
    </mat-card-content>

    <!-- <mat-toolbar color="primary">
      <mat-toolbar-row>
        {{order.name}}
        <span class="spacer"></span>
        CAD {{order.amtPayable}}
      </mat-toolbar-row>
    </mat-toolbar> -->

  </mat-card>
  <mat-card style="background-color: #009688">
    <div fxLayout="row wrap" class="mat-h2">
      <span>Amount Payable:</span>
      <span class="spacer"></span>
      <span>CAD {{order.amtPayable}}</span>
    </div>
    <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-icon>attach_money</mat-icon>
      <mat-icon>payment</mat-icon>
      <mat-icon>transfer_within_a_station</mat-icon>
      <mat-icon>home</mat-icon>
      <mat-icon>restaurant_menu</mat-icon>
    </mat-card-actions>
  </mat-card>
  <app-fab-action [fabIcon]="'done'" (fabActionEvent)="onClickCheckout(order)">
  </app-fab-action>
</div>