<div *ngIf="order$|async as order" fxLayout="column">
  <mat-card mat-elevation="4">
    <!-- <span>{{order.name}}</span> -->
    <mat-card-content>
      <app-cart-list [cartID]="cartID" [orderID]="order.id" (orderUpdate)="updateOrder($event)">
      </app-cart-list>
    </mat-card-content>

    <!-- <mat-toolbar color="primary">
      <mat-toolbar-row>
        {{order.name}}
        <span class="spacer"></span>
        CAD {{order.amtPayable}}
      </mat-toolbar-row>
    </mat-toolbar> -->

  </mat-card>
  <mat-card class="mat-h3" style="background-color: lightgray">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <span>Order To</span>
      <span>{{order.name}}</span>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <span>Payment</span>
      <span>COD </span>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <span>Delivery</span>
      <span>Take away </span>
    </div>

    <div fxLayout="row wrap">
      <span>Amount Payable</span>
      <span class="spacer"></span>
      <mat-chip-list>
        <mat-chip color="primary" selected>
          CAD {{order.amtPayable}}
        </mat-chip>
      </mat-chip-list>
      <!-- <span></span> -->
    </div>

  </mat-card>
  <app-fab-action [fabIcon]="'done'" (fabActionEvent)="onClickCheckout(order)">
  </app-fab-action>
</div>