<div fxLayout="column" fxLayoutAlign="center stretch" style="height:100%">
  <!-- <div fxLayout="row">
    <mat-icon class="bigIcon" color="primary">search</mat-icon>
    <h2>Hungry?</h2>
  </div> -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Foodz9</span>
      <span class="spacer"></span>
      <mat-icon>share</mat-icon>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row></mat-toolbar-row> -->
    <mat-toolbar-row>
      <span>Have an account? </span>
      <span class="spacer"></span>
      <button mat-stroked-button> Login</button>
      <!-- <mat-icon>add_shopping_cart</mat-icon>
      <mat-icon>done</mat-icon>
      <mat-icon>chat_bubble</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
  <div style="margin:8px">
    <div style="margin:8px">
      <h1>Hungry?</h1>
      <h2>Find home cooked food near you...</h2>
    </div>

  <div style="max-width: 420px; height: 300px;" fxFlexAlign="center">

      <app-address-with-map
        includeMap="true"
        (selectedAddress)="getAddress($event)">
      </app-address-with-map>
    </div>
  </div>
</div>

<!-- <mat-toolbar color="accent" fxFlex="1 0 auto" ></mat-toolbar> -->

    <!-- <div fxLayout="row">
      <mat-icon class="bigIcon" color="accent">room_service</mat-icon>
      <h2 class="pullLeft">Post your delicacy.</h2>
     
    </div>
    <h3>Become a Home Chef.</h3>
    <h3>Create your profile and setup your kitchen!</h3> -->
  <app-fab-action fabIcon="navigate_next" #selectedAddress
    (fabActionEvent)="onClickDone()">
  </app-fab-action>
</div>
