<mat-card>
  <!-- <mat-card-title>Filters</mat-card-title> -->
  <mat-card-content>
    <div fxLayout="row wrap">
      <mat-chip-list>
        <mat-chip>Pre-Order
          <mat-icon matChipRemove>clear</mat-icon>
        </mat-chip>
        <mat-chip>Non-Veg
          <mat-icon matChipRemove>clear</mat-icon>
        </mat-chip>
        <mat-chip removable="true">North-Indian
          <mat-icon matChipRemove>clear</mat-icon>
        </mat-chip>
        <mat-chip>Main-Course
          <mat-icon matChipRemove>clear</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <span class="spacer"></span>
      <mat-icon>clear</mat-icon>
    </div>
  </mat-card-content>
</mat-card>

<div 
  fxLayout="row wrap" 
  fxLayout.xs="column"
  fxLayoutAlign="space-around stretch">
  <app-product-card fxFlex="0 1 calc(20em + 10px)"
    *ngFor="let fooditem of fooditems$|async" 
    [fooditem]="fooditem" 
    routerLink="/detail/{{fooditem.id}}">
</app-product-card>
<app-fab-action fabIcon="search" (click)="navigateToSearchPage()"></app-fab-action>
</div>
