<mat-card *ngIf="showFilter" fxLayout="row wrap">
  <mat-chip-list>
    <mat-chip *ngIf="filter.orderType">{{filter.orderType}}
      <mat-icon matChipRemove (click)="removeOrderTypeFilter()">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="filter.isNonVeg!=null">{{filter.isNonVeg?'NonVeg':'Veg'}}
      <mat-icon matChipRemove (click)="removeIsNonVegFilter()">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="filter.category">{{filter.category}}
      <mat-icon matChipRemove (click)="removeCategoryFilter()">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="filter.cuisine">{{filter.cuisine}}
      <mat-icon matChipRemove (click)="removeCuisineFilter()">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <span class="spacer"></span>
  <button mat-icon-button (click)="clearAllFilters()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-card>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
  <app-product-card fxFlex="0 1 calc(20em + 10px)" *ngFor="let fooditem of fooditems$|async" [fooditem]="fooditem"
    routerLink="/detail/{{fooditem.id}}">
  </app-product-card>
  <app-fab-action fabIcon="search" (click)="navigateToSearchPage()" style="z-index: 99"></app-fab-action>
</div>