<mat-card fxLayout="row wrap">
  <mat-chip-list>
    <mat-chip>Pre-order
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Non-Veg
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>North-Indian
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip>Snacks
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <span class="spacer"></span>
  <mat-icon (click)="this.db.clearFilters()">clear</mat-icon>
</mat-card>
<div 
  fxLayout="row wrap" 
  fxLayout.xs="column"
  fxLayoutAlign="space-around stretch">
  <app-product-card fxFlex="0 1 calc(20em + 10px)"
    *ngFor="let fooditem of fooditems$|async" 
    [fooditem]="fooditem" 
    routerLink="/detail/{{fooditem.id}}">
</app-product-card>
<app-fab-action fabIcon="search" (click)="navigateToSearchPage()"></app-fab-action>
</div>
