<div>
  <div class="speech-bubble" style="border-color: #7c7fbc; background: #7c7fbc;  color: white"
    *ngFor="let msg of chatMessages$|async">
    {{msg.message}}
   
  </div>
</div>


<div class="bottom" id="bottom" *ngIf="true" fxLayout="row" fxLayoutAlign="start center">
  <textarea class="input" id="message-text-input" fxFlex title="New message text" [(ngModel)]="inputMessageText"
    (keydown.enter)="setupChatRoom($event)">
  </textarea>

  <button mat-icon-button class="send" [disabled]="!inputMessageText" (click)="setupChatRoom($event)">
    <mat-icon>send</mat-icon>
  </button>